<div class="row">
    <div class="span7 box">
        <h1>You have successfully confirmed a rental</h1>
        <div class="swell">
          <p>Rentmybike is a demo marketplace with Balanced &#38; Subledger. You are now able to sell on any marketplace powered by Balanced and everything will be automagically accounted for by Subledger.</p>
          <p>Check out the docs at <a href="//balancedpayments.com" target="_blank">balancedpayments.com</a> and <a href="//subledger.com" target="_blank">subledger.com</a>.</p>
        </div>
    </div>
</div>
