<div class="row">
    <div class="span7 box">
        <h1>You have successfully confirmed a rental</h1>
        <div class="swell">
          <p>Rentmybike is a demo marketplace powered by <a href="//balancedpayments.com" target="_blank">balancedpayments.com</a> + <a href="//subledger.com" target="_blank">subledger.com</a>.</p>
          <p>You are now able to sell on any marketplace powered by Balanced and everything will be automagically accounted for by Subledger.</p>
          <p>Check out your <%= link_to 'My Account page', account_path %> which has your transaction history and a link to financial reporting all powered by Subledger.</p>
          <p>#APIsRock ;-)</p>
        </div>
    </div>
</div>
