.subledger-nav-tabs {
  margin-bottom: 0;
}

.subledger-tab-content {
  padding: 20px 5px 20px 5px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-bottom: 25px;
  background-color: #fff;

  table {
    margin-bottom: 0;

    thead {
      text-align: center;

      th {
        &:nth-child(1) {
          width: 85px;
        }
        
        &:nth-child(3) {
          width: 60px;
        }

        &:nth-child(4) {
          width: 60px;
        }
      }
    }
  }
}
